/* font-family */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');

/* Common-Style */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    width: 1440px;
}

/* Main */
/* Top-Banner-section */

.flex-container{
    display: flex;
}

.grid-container{
    display: grid;
}

#banner-container{ 
    height: 677px;
    background-color: #2D25A0;
}

.banner-title{
    width: 48.2%;
}

.banner-title h1{
    margin: 207px 51px 27px 156px;
    width: 485px;
    height: 230px;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 80px;
    font-size: 64px;
}

#banner-button{
    position: relative;
    background-color: #E02C6D;
    margin: 0px 503px 159px 156px;
    width: 168px;
    height: 44px;
}

#banner-button:hover{
    background-color: #ad2a5a;
    cursor: pointer;
}

.banner-title>#banner-button>a:first-child{
    position: absolute;
    width: 88px;
    height: 24px;
    padding: 10px 4px 10px 24px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;  
}

.banner-title>#banner-button>a:last-child{
    position: absolute;
    color: #FFFFFF;
    left: 120px;
    padding: 10px 24px 10px 4px;
    width: 24px;
    height: 24px;
}
.banner-picture{
    width:51.8%;
}

.banner-picture img{
    width: 556.01px;
    height: 438px;
    padding: 135px 140px 114px 51px;
    transition: 0.5s;
}

.banner-picture img:hover{
    transform: scale(1.25);
}

/* Player-List-Section */

#player-container{
    grid-template-columns: repeat(3,330px);
    row-gap: 30px;
    column-gap: 27px;
    padding: 70px 210px 105px 180px;    
}

.player{
    width: 300px;
    height: 434px;
    padding: 15px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}

.player img{
    width: 300px;
    height: 256px;
    padding-bottom: 16px;
}

.player a{
    text-decoration: none;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    color: #18191F;
    margin: 0;
    height: 40px;
}

.player article{
    color: #6C6C6C;
    text-align: justify;
    font-size: 16px;
    margin-top: 10px;
    height: 104px;
}

/* Bonus-Section-1 */
/* Final-Banner */

#final-container{
    height: 400px;
    margin: 60px 210px 80px 180px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
    flex-direction: column;
}

#final-container>#heading{
    width: 100%;
    height: 30%;
    background-color: #2D25A0;
    color: #FFFFFF;
    text-align: center;
}

#heading h1{  
    font-size: 45px;
    height: 56px;
    margin: 10px;
}

#heading h3{  
    font-size: 25px;
    margin-top: 0;
    opacity: 0.6;
}

#final-container>#info{
    height: 15%;
    grid-template-columns: repeat(2,1fr);
}

#info p{
    height: 40px;
    font-size: 18px;
    margin: 10px 50px;
    text-align: center;
    opacity: 0.6;
}

#result{
    height: 55%;
    width: 100%;
    flex-direction: row;
    align-items: center;
}

.flag{
    width: 35%;
    height: 55%;
    position: relative;
}

.flag img{
    position: absolute;
    left: 123.75px;
    width: 60%;
    left: 68.5px;
    bottom: 30px;
}

#score{
    width: 30%;
    padding-left: 72.39px;
    padding-bottom: 50px;
}

#score span{
    font-weight: bold;
    font-size: 30px;
    color: #18191F;   
}

#score i{
    color: #2D25A0;
    font-size: 26px;
    padding: 0 80px;
}

/* Highlight-Section */

#highlight>.flex-container{
    justify-content: center;
}

#highlight h1{
    padding-top:80px;
    text-align: center;
    font-size: 35px;
}

/* footer */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer>.grid-container{
    width: 483.87px;
    height: 110px;
    grid-template-columns: 249.5px 1fr;
    align-items: center;
    margin-top: 158px;
}

footer>.grid-container img{
    width: 210px;
    padding-left:11.5px;
    padding-right: 28px;
    display: block;
    height: 110px;
    justify-content: center;
}

footer>.grid-container p{
    font-family: 'Niconne', cursive;
    width: 227.87px;
    font-size: 72.58px;
    color: #10437A;
}

footer>.flex-container{
    height: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer>.flex-container>i{
    font-size: 32px;
    padding-left: 14px;
    opacity: 0.3;  
}

footer p{
    margin-top: 0;
    margin-bottom: 63px;
    font-size: 18px;
    height: 31px;
}

/* ------------------------------------------------------------------------ */


