/* For-Tablet-Device */
@media only screen and (min-width:361px) and (max-width:992px){

    /* Body */
    body{
        width: 100%;
    }

    /* Banner-Section */

    #banner-container{
        flex-direction: column;
        width:100%;
        height: 700px;
    }

    .banner-title{
        width: 100%;
        height: 50%;
    }

    #banner-picture{
        width: 100%;
        height: 50%;
    }
    
    .banner-title h1{
        margin: 80px 66px 45px 16px;
        width: 100%;
        height: 145px;
        line-height: 60px;
        font-size: 48px;
    }

    #banner-button{
        margin: 19px 173px 0px 19px;
    }
    
    #banner-picture{
        width: 100%;
    }

    .banner-picture img{
        width: 329px;
        height: 259.17px;
        padding: 50px 16px 61px 15px;
    }

    /* Player-List-Section */

    #player-container{
        grid-template-columns: repeat(2,1fr);
        row-gap: 30px;
        margin-top: 47px; 
        justify-content: center;
        align-items: center; 
        margin-right: auto;
        margin-left: auto;  
    }

    grid-column:nth-child(2) {
        float: right;
    }

    /* Final-banner */

    #final-container{
        height: 700px;
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    #final-container>#heading{
        height: 20%;
    }

    #heading h1{  
        font-size: 40px;
        margin: 10px;
    }

    #final-container>#info{
        visibility: hidden;
        height: 0%;
    }
    
    #result{
        width: 100%;
        height: 80%;
        flex-direction: column;
        align-items: center;
    }

    .flag{
        width: 100%;
        height: 45%;
        align-items: center ;
    }

    .flag img{
        width: 50%;
        padding-left: 13%;
    }
    
    #score{
        width: 35%;
        height: 10%;
        padding-bottom: 0;
    }
    
    #score span{
        font-size: 20px;   
    }
    
    #score i{
        font-size: 20px;
        padding: 0 40px;
    }

    /* Highlight-Section */

    #hide{
        visibility: hidden;
    }
    #highlight h1{
        height: 70px;
        padding: 0 20px 0 60px;
        margin-top: 0;
    }
    iframe{
        width: 80%;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
    }




}